.AddCircle{
    width:70px;
    height: 70px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    position: absolute;
    left: 91.41%;
    right: 3.12%;
    top: 87.5%;
    bottom: 3.75%;
    background: #4B63CB;
    border-radius: 50%;
    
}

.AddIcond{
    width: 22.5px;
    height: 22.5px;
    margin:0 auto;
    background:"#FFFFFF;"
    
}
.header{
    margin-top: -7%;
    margin-left: 13.99999999%;
}
.questionCont{
    width:45%;
    margin-top: 4%;
}
.content{
    display: flex;
    margin-bottom: 30px;
}

