.rootDialog{
    border:1px solid lightgray;
    box-shadow: 0px 0px 3px 3px lightgray;
}
.contentDialog{
    width: 440px;
    height: 520px;
    margin: auto;
    border:2px solid lightgray;
    box-shadow: 0px 0px 3px 3px lightgray;
    background: #FFFFFF;
}
.title{
    margin-left: 20px;
    margin-top: 27px;
}
.technicaskills{
    position: absolute;
    height: 40px;
    width: 364px;
    
    border-radius: 0px;
    
}

.expertiselevel{
    height: 40px;
    width: 173px;

}

.textArea{
    width: 364px;
    left: 458px;

    border-radius: 0px;
    
}

.selectblocks{
    margin-bottom:27px;
    margin-left:20px
}

