.AddCircle{
    width:70px;
    height: 70px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    position: absolute;
    left: 91.41%;
    right: 3.12%;
    top: 87.5%;
    bottom: 3.75%;
    background: #4B63CB;
    border-radius: 50%;
    
}

.AddIcond{
    width: 22.5px;
    height: 22.5px;
    margin:0 auto;
    background:"#FFFFFF;"
    
}

.container{
    opacity: 0.75;
    width:900px;
    margin-left:288px;
    transform: translate(0%,-15%);
    
}

.innerCircul{
    width: 70px;
    height: 70px;
    background: #779FF94D;
    border-radius: 50%;
}

.content{
    display: flex;
    margin-bottom: 30px;
}