
.root{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background:#fdfeff;;;
}

.LeftMenu{
    height: 175.9980010986328px;
    width: 188px;
    left: 40px;
    top: 10.00201416015625px;
    border-radius: 0px;
    position: fixed;

}

.CandidatesCont{
    position: absolute;
    left: 3.12%;
    right: 82.19%;
    top: 18.25%;
    bottom: 85%;
    border-radius: 6%;
}


.TextCandCont{
    height: 19px;
    width: 82px;
    left: 91px;
    top: 95px;
    border-radius: nullpx;
}

.Candidates{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #484848;
}

.QuestionarCont{
    position: absolute;
    left: 4.44%;
    right: 86.09%;
    top: 18.25%;
    bottom: 79.38%;
    background-color: #F9FCFF;
}

.LineBreak{
    position: relative;
    height: 0px;
    width: 188px;
    top:18.75%;
    border-radius: 0px;
    
}

.settingsCont{
    position: absolute;
    left: 4.44%;
    right: 88.23%;
    top: 24.62%;
    bottom: 73%;
    
}

